{% extends "base.html" %}
{% block head %}
<title>Заявки</title>
{% endblock %}
{% block content %}
<div class="flex justify-center flex-col items-center">
    <h1>Заявки</h1>
    {% for current_request in requests %}
        <div class="flex rounded-3 border-2 p-3 mt-5">
            <div class="flex flex-col">
                <span class="text-2xl font-bold">{{ current_request.name }}</span>
                <span class="text-lg">{{ current_request.status }}</span>
                <span class="text-lg">{{ current_request.request_user_id }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}